


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(124, 73, 5, 0.863);
  color: white;}
  


body {
  font-family: "Poppins", sans-serif;
}


/* Styles für sehr große Bildschirme */
@media only screen and (min-width: 1200px) {

  p {
    font-size: 16px;
  }
  h1 {
      font-size: 60px;
  }
  h2 {
      font-size: 42px;
  }
  h3 {
    font-size: 23px;
  }
  

}
/* Styles für große Bildschirme */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  p {
    font-size: 14px;
  }
  h1 {
      font-size: 48px;
  }
  h2 {
      font-size: 36px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
      font-size: 24px;
  }
}
/* Styles für mittelgroße Bildschirme */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  p {
    font-size: 14px;
  }
  h1 {
      font-size: 36px;
  }
  h2 {
      font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
      font-size: 22px;
  }
}


/* Styles für kleine Bildschirme */
@media only screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
  h1 {
      font-size: 28px;
  }
  h2 {
      font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
      font-size: 18px;
  }
}